
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.padding-box{
  padding-left: 100px;
  padding-right: 100px;
}


.navbar {
    overflow: hidden;
    background-color: #e96565;
    font-family: Arial;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 0px;
    
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* first section of webpage */
  .first-section{
    background-image: url(./Assets/bookbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 180px;
    
  }
  .first-section .details h1{
    width: 70%;
    text-align: left;
    padding-top: 120px;
    color: white;
    font-size: 80px;
    justify-content: baseline;
  }
  .first-section .details h3{
    width: 75%;
    text-align: left;
    padding-top: 20px;
    color: rgb(184, 210, 80);
    font-size: 18px;
    padding-left: 80px;
    justify-content: baseline;

  }
  .first-section .details .button-first{
    width: 22%;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-top: 30px;
  }
  .first-section .details .button-first button{
    width: 150px;
    height: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;

  }


  /* second section */

  .second-section .row {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
  }

  /* Float four columns side by side */
.column {
    
    width: 20%;
    
  }
  
  /* Style the counter cards */
  .second-section .card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); 
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
  }

  /* third section details */

  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 10px;
  }
  .column button{
    background-color: red;
    color: white;
    width: 200px;
    height: 50px;
  }
/* fourth section */


.row {
  display: flex;
  padding-top: 50px;
}

.column {
  padding: 5px;
}

/* fifth section */


/* Float four columns side by side */
.row{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

}
.column {
  width: 20%;
  padding: 0 10px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  padding: 10px;
  text-align: center;
}

/* sixth section */

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}



/* Style the counter cards */
.card {
  padding: 5px;
  text-align: center;
}
/* review */
.checked {
  color: orange;
}
/* footer */

footer{
  background-color: rgb(6, 6, 64);
  color: white;
}
.footer-last{
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 50px;
  line-height: 50px;

}
.last-div{
  background-color: rgb(3, 3, 35);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;

}








  /* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .conta {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  }


